# === PERMISOS DE CORS PARA VERCIEL ===
Header set Access-Control-Allow-Origin "https://demo-catalogo-digital-pedidos-wsp-f.vercel.app"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"

# === CONFIGURACIÓN DE REESCRITURA ===
RewriteEngine On
RewriteBase /
Options -Indexes

# Bloquear acceso al archivo .env
<FilesMatch "^\.env$">
Order allow,deny
Deny from all
</FilesMatch>
